[core]
	excludesfile = ~/.gitignore_global
[code]
	editor = code --wait
[merge]
	tool = vscode
[mergetool "vscode"]
	cmd = code --wait $MERGED
[diff]
	tool = vscode
[difftool "vscode"]
	cmd = code --wait --diff $LOCAL $REMOTE

[user]
	email = mihail.tratsiuk@gmail.com
	name = Mihail Tratsiuk

[push]
	default = current
	followTags = true

[alias]
	co = checkout
	cob = checkout -b
	pushf = push --force
	rb = rebase
	rbi = "!f() { git rebase -i HEAD~$1; }; f"
	amend = commit --amend
	br = branch
	prunebr = "!f() { git co master && git br | grep -v 'master' | xargs git br -d; }; f"
	prunebrf = "!f() { git co master && git br | grep -v 'master' | xargs git br -D; }; f"
	prunefs = "!f() { git clean -dfx -e .vscode -e .env*; }; f"
